
<tr>
  <td id="cd_title"><%= link_to h(code_document.title), :controller => :codebook, :action => :show, :id => code_document %></td>
  <td id="cd_desc"><%= truncate(code_document.description) %></td>
  <td id="cd_desc"><%= truncate(code_document.authorname) %></td>
  <td id="cd_title"><%= h code_document.code_language.name %></td>
  <td id="cd_title"><%= h code_document.code_area.name %></td>
</tr>