<h3><%= l(:codebook_menu_title) %></h3>
  <% page_id = "#{controller.controller_name}.#{controller.action_name}" %>

<ul id="cb_menu">
  <%- if page_id.eql?("code_documents.index") -%>
    <li class="cb_active"><%= l(:codebook_menu_dashboard) %></li>
  <%- else -%>  
    <li><%= link_to l(:codebook_menu_dashboard), code_documents_path() %></li>
  <%- end -%>
  <%- if page_id.eql?("code_documents.new") -%>
    <li class="cb_active"><%= l(:codebook_menu_add) %></li>
  <%- else -%>
    <li><%= link_to l(:codebook_menu_add), new_code_document_path() %></li>
  <%- end -%>
  <%- if page_id.eql?("codebook.admin") -%>
    <li class="cb_active"><%= l(:codebook_menu_admin) %></li>
  <%- else -%>
    <li><%= link_to l(:codebook_menu_admin), :controller => 'codebook', :action => 'admin' %></li>
  <%- end -%>  
</ul>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'scm' %>
    <%= stylesheet_link_tag 'codebook', :plugin => "codebook" %>
<% end %>