<h2><%= l(:codebook_admin_title) %></h2>

<h4><%= l(:codebook_admin_text) %></h4>

  <div id="dashboard">

    <div id="set_defaults">
      <%- if @languages.empty? or @areas.empty? -%>
        You can add some default values here.
        <%= button_to "Go", :controller => "codebook", :action => "add_default_enums" %>
      <%- end -%>
    </div>

    <div class="box" id="new_language" style="float:left; padding:20px 30px; width: 400px;">
      <% form_for :code_language, @language, 
                  :url => { :action => "create_category" }, 
                  :html => {:class => "nifty_form"} do |f| %>  
          <%= f.label l(:codebook_admin_label_language) %><br />
          <%= f.text_field :name %>
          <%= submit_tag "Go!" %>
      <% end %> 
      <ul>
      <% @languages.each do |l| %>
        <li><%=h l.name %> (<%= link_to_if( l.has_no_documents?, "Delete", :action => "destroy_category", :language_id => l.id)%>)</li>
      <% end %></ul>
    </div>
    
    <div class="box" id="new_category" style="float: left; padding:20px 30px; width: 400px;">
      <% form_for :code_area, @area, 
                  :url => { :action => "create_category" }, 
                  :html => {:class => "nifty_form"} do |f| %>  
          <%= f.label l(:codebook_admin_label_area) %><br />
          <%= f.text_field :name %>
          <%= submit_tag "Go!" %>
      <% end %> 
      <ul>
      <% @areas.each do |l| %>
        <li><%=h l.name %> (<%= link_to_if( l.has_no_documents?, "Delete", :action => "destroy_category", :area_id => l.id)%>)</li>
      <% end %></ul>
    </div>    
  </div>

<% content_for :sidebar do %>
  <%= render :partial => 'codebook/menu' %>
<% end %>
