<div class="box">

  <% form_for (@code_document) do |f| %>
    <p><span class="cb_label"><%= l(:codebook_form_label_title) %></span><%= f.text_field :title %>
       <span class="cb_label"><%= l(:codebook_form_label_lang)%></span><%= collection_select(:code_document, :code_language_id, CodeLanguage.ordered, :id, :name) %>
       <span class="cb_label"><%= l(:codebook_form_label_area)%></span><%= collection_select(:code_document, :code_area_id, CodeArea.ordered, :id, :name) %>
    </p>
    <p><hr /></p>
    <p><span class="cb_label_left"><%= l(:codebook_form_label_desc)%></span><br/><%= f.text_area :description, :size => "120x2" %></p>
    <p><span class="cb_label_left"><%= f.label l(:codebook_form_label_code)%></span><br/><%= f.text_area :code, :size => "120x20" %></p>
    <p><%= submit_tag submit_message %></p>
    
  <% end %> 
</div>
