<h2><%= l(:codebook_index_title) %></h2>
  
  <div id="dashboard">
    <%- unless @code_documents.empty? -%>
      <h4><%= l(:codebook_index_label) %></h4>
      
      <div id="cb_index_sortoptions">

  <%- form_tag(code_documents_path, :method => "get") do -%>
    <%= select_tag(:language_id, options_for_select(@used_languages, @language_id||0))%>
    <%= select_tag(:area_id, options_for_select(@used_areas))%>
    <%= submit_tag("Filter") %> 
  <%- end -%>
      </div>
      
      <table id="index_doc_table" class="list">
        <tr>
          <th><%= l(:codebook_table_header_title) %></th>
          <th><%= l(:codebook_table_header_desc) %></th>
          <th><%= l(:codebook_table_header_author) %></th>
          <th><%= l(:codebook_table_header_lang) %></th>
          <th><%= l(:codebook_table_header_area) %></th>
          <th><%= l(:codebook_table_header_actions) %></th></tr>
        <%= render :partial => "code_document", :collection => @code_documents, :as => :doc %>
      </table>    
    <%- end -%> 
  </div>

<% content_for :sidebar do %>
  <%= render :partial => 'codebook/menu' %>
<% end %>

